<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>

<body>
<div layout:fragment="content">
    <div class="main-wrapper wrapper-2">
        <div class="breadcrumb-area breadcrumb-padding">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title" data-aos="fade-up" data-aos-delay="200">
                        <h2>Clean Product</h2>
                    </div>
                    <ul data-aos="fade-up" data-aos-delay="300">
                        <li>
                            <a href="/productlist">All</a>
                        </li>
                        <li>
                            <a href="/livinglist">Living</a>
                        </li>
                        <li>
                            <a href="/kitchenlist">Kitchen</a>
                        </li>
                        <li>
                            <a href="/restroomlist">Restroom</a>
                        </li>
                        <!--
                        <li>
                            <a href="/salelist">sale</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="shop-area section-padding-lr-1 pb-235">
            <div class="container-fluid">
                <div class="shop-page-wrap margin-none">
                    <div class="shop-top-bar shop-top-bar-responsive">
                        <div class="show-wrap" data-aos="fade-up" data-aos-delay="200">
                            Total<b><span th:text="${livingProductsCount != null ? livingProductsCount : 0}">00</span></b>
                        </div>
                        <div class="sorting-filter-wrap">
                            <div class="shop-sorting-area">
                                <select class="nice-select nice-select-style-2">
                                    <option>인기순</option>
                                    <option>신상품</option>
                                    <option>낮은 가격</option>
                                    <option>조회수</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="padding-54-row-col">
                        <div class="row">
                            <!-- 반복문을 통해 상품 목록 생성 -->
                            <div th:each="product:${productDTOS}" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-75"
                                 th:if="${product.categoryTypeRole eq T(com.example.clean.Constant.CategoryTypeRole).BATHROOM}">
                                <div class="product-wrap" data-aos="fade-up" data-aos-delay="${product.delay}">
                                    <div class="product-img img-zoom mb-4">
                                        <a th:href="@{/product/{productId}(productId=${product.productId})}">
                                            <!-- 대표 이미지를 표시하도록 수정 -->
                                            <img class="default-img" th:src="|/images/item/@{${product.imageDTOs?.isEmpty() ? 'default-image.jpg' : product.imageDTOs[0]?.imageFile}}|" width="600" height="300">
                                        </a>
                                        <div class="product-action-wrap">
                                            <button title="Add To Cart">
                                                <img class="injectable" src="assets/images/icon-img/bag-2.svg" alt="" />
                                            </button>
                                            <button title="Wishlist">
                                                <img class="injectable" src="assets/images/icon-img/heart.svg" alt="" />
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-content text-center">
                                        <h3>
                                            <!-- 상품 이름 표시 -->
                                            <a th:href="@{/product/{productId}(productId=${product.productId})}" th:text="${product.productName}" />
                                        </h3>
                                        <div class="product-price">
                                            <!-- 가격을 적절한 방식으로 표시 -->
                                            <span th:text="${product.productPrice}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 반복문 끝 -->
                        </div>
                    </div>

                    <div class="pagination-style text-center mt-30">
                        <ul>
                            <li th:unless="${startPage == 1}">
                                <a th:href="@{/restroomlist(type=${type}, keyword=${keyword}, page=1)}">처음</a>
                            </li>
                            <li th:unless="${currentPage == 1}">
                                <a th:href="@{/restroomlist(type=${type}, keyword=${keyword}, page=${prevPage})}">&lt;</a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                th:class="${page == currentPage ? 'active' : ''}">
                                <a th:if="${page != currentPage}" th:href="@{/restroomlist(type=${type}, keyword=${keyword}, page=${page})}">[[${page}]]</a>
                                <a th:if="${page == currentPage}" href="#" class="active">[[${page}]]</a>
                            </li>

                            <li th:unless="${currentPage == lastPage}">
                                <a th:href="@{/restroomlist(type=${type}, keyword=${keyword}, page=${nextPage})}">&gt;</a>
                            </li>
                            <li th:unless="${endPage == lastPage}">
                                <a th:href="@{/restroomlist(type=${type}, keyword=${keyword}, page=${lastPage})}">끝</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </div>
</body>
</html>