<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">

<head>
    <meta charset="utf-8">
    <title>ADMIN - Product Insert</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="main-wrapper wrapper-2">
        <div class="breadcrumb-area breadcrumb-padding-8">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>product</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="notice-area bg-white pb-130">
            <div class="container">
                <div class="notice-info-wrap">
                    <form th:action="@{'/admin_product_insert'}" method="post" enctype="multipart/form-data" th:object="${productDTO}">
                        <input type="hidden" th:field="*{reDate}" name="reDate"> <!-- 등록일 히든 -->
                        <input type="hidden" th:field="*{modDate}" name="modDate"> <!-- 수정일 히든 -->
                        <table class="table notice-table">
                            <tbody>
                            <tr>
                                <th scope="row" class="notice-padding" id="productName">상품명</th>
                                <td class="notice-info">
                                    <input type="text" name="productName" th:field="*{productName}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="notice-padding" id="productName">상품설명</th>
                                <td class="notice-info">
                                    <input type="text" name="productContent" th:field="*{productContent}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('productContent')}" th:errors="*{productContent}"></p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="notice-padding" id="CategoryTypeRole">카테고리</th>
                                <td class="notice-info">
                                    <div class="sidebar-widget update">
                                        <div class="sidebar-archive-wrap">
                                            <select name="CategoryTypeRole" th:field="*{categoryTypeRole}">
                                                <option th:each="state : ${categoryType}"
                                                        th:value="${state.name()}"
                                                        th:text="${state.getDescription()}"
                                                        th:selected="${state.name() eq data?.categoryTypeRole?.name()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <!-- 상품 등록 폼 -->
                            <tr>
                                <th scope="row" class="notice-padding">소비자가</th>
                                <td class="notice-info">
                                    <input type="text" id="productCost" name="productCost" th:field="*{productCost}" oninput="calculateDiscount()">
                                    <p class="text-danger" th:if="${#fields.hasErrors('productCost')}" th:errors="*{productCost}"></p>
                                </td>
                            </tr>

                            <!-- 판매가 -->
                            <tr>
                                <th scope="row" class="notice-padding" id="productPrice">판매가</th>
                                <td class="notice-info">
                                    <input type="text" id="productPrice" name="productPrice" th:field="*{productPrice}" oninput="calculateDiscount()">
                                    <p class="text-danger" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="notice-padding" id="productCnt">재고수</th>
                                <td class="notice-info">
                                    <input type="number" name="productCnt" th:field="*{productCnt}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('productCnt')}" th:errors="*{productCnt}"></p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="notice-padding" id="SellStateRole">판매상태</th>
                                <td class="notice-info">
                                    <div class="sidebar-widget update">
                                        <div class="sidebar-archive-wrap">
                                            <select name="SellStateRole">
                                                <option th:each="state:${sellsState}"
                                                        th:value="${state.name()}"
                                                        th:text="${state.getDescription()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="notice-padding" id="productDetail">상품정보</th>
                                <td class="notice-info">
                                    <textarea rows="7" name="productDetail" th:field="*{productDetail}"></textarea>
                                </td>
                            </tr>

                            <!-- 대표 이미지 -->
                            <tr>
                                <th scope="row" class="notice-padding" id="imageDTOs[0]">대표이미지</th>
                                <td class="notice-info">
                                    <input type="hidden" name="imageDTOs[0].imageType" value="0">
                                    <input type="file" name="images" onchange="previewImage(this, 'previewImg0')">
                                    <img id="previewImg0" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                                </td>
                            </tr>
                            <!-- 서브 이미지 -->
                            <tr>
                                <th scope="row" class="notice-padding" id="imageDTOs[1]">서브이미지</th>
                                <td class="notice-info">
                                    <input type="hidden" name="imageDTOs[1].imageType" value="1">
                                    <input type="file" name="images" onchange="previewImage(this, 'previewImg1')">
                                    <img id="previewImg1" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                                </td>
                            </tr>
                            <!-- 상세 이미지 -->
                            <tr>
                                <th scope="row" class="notice-padding" id="imageDTOs[2]">상세이미지</th>
                                <td class="notice-info">
                                    <input type="hidden" name="imageDTOs[2].imageType" value="2">
                                    <input type="file" name="images" onchange="previewImage(this, 'previewImg2')">
                                    <img id="previewImg2" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                                </td>
                            </tr>
                            <script>
                                // 파일 입력(change) 이벤트를 처리하는 함수
                                function previewImage(input, previewId) {
                                    var preview = document.getElementById(previewId);
                                    var file = input.files[0];
                                    var reader = new FileReader();

                                    reader.onload = function (e) {
                                        preview.src = e.target.result;
                                    };

                                    if (file) {
                                        reader.readAsDataURL(file);
                                    }
                                }

                                // 파일 입력에 이벤트 리스너를 추가합니다.
                                $(document).ready(function () {
                                    $('input[name^="images"]').change(function () {
                                        var index = $(this).attr('id').replace('fileInput', '');
                                        previewImage(this, 'previewImg' + index);
                                    });
                                });
                            </script>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <div class="notice-button-container">
                                    <div class="notice-content">
                                        <div class="notice-btn-date-wrap list-btn">
                                            <div class="notice-btn">
                                                <button type="submit" class="btn btn-sm">등록</button>
                                                <button type="reset" class="btn btn-sm">다시</button>
                                                <button type="button" class="btn btn-sm" th:onclick="|location.href='@{/admin_productlist}'|">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- content 끝-->
</body>
</html>
