<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- footer 영역 -->
<div th:fragment="footer">
  <div class="container-fluid">
    <div class="footer-top section-padding-9">
      <div class="row mb-n6">
        <div class="col-34 mb-6">
          <div class="footer-widget footer-logo">
            <a href="/main"><img src="assets/images/logo/logo-1.png" alt=""></a>
          </div>
        </div>
        <div class="col-22-5 mb-6">
          <div class="footer-widget footer-list">
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Term & Conditions</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-24 mb-6">
          <div class="footer-widget footer-list">
            <ul>
              <li><a href="#">Shipping Info</a></li>
              <li><a href="#">Returns/Excahnges</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-19-5 mb-6">
          <div class="footer-widget footer-list">
            <ul>
              <li><a href="#">kowukos@wuureco.io</a></li>
              <li><a href="#">(782) 629-1271</a></li>
            </ul>
            <div class="social-icon">
              <a href="#"><img class="injectable" src="assets/images/icon-img/facebook.svg" alt=""></a>
              <a href="#"><img class="injectable" src="assets/images/icon-img/twitter.svg" alt=""></a>
              <a href="#"><img class="injectable" src="assets/images/icon-img/instagram.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom copyright border-top-1 text-center">
      <p>Copyright ©2023 All rights reserved | Made with <img class="injectable"
                                                              src="assets/images/icon-img/love.svg" alt=""> by <a
          href="#">2TEAM Fighting</a></p>
    </div>
  </div>
</div>
<!-- footer 영역 끝 -->
</body>
</html>