<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
<div layout:fragment="content">
    <div class="main-wrapper wrapper-2">
        <div class="slider-area">
            <div class="slider-active-1 nav-style-1">
                <div
                    class="single-slider-wrap slider-height-1 custom-d-flex custom-align-item-center single-animation-wrap">
                    <div class="slider-img">
                        <img src="assets/images/slider/main_01.png" alt="">
                    </div>
                    <div class="slider-content slider-animated-1">
                        <h3 class="animated">BEST PRODUCT</h3>
                        <h1 class="animated">Popular <br> Item</h1>
                        <div class="btn-style">
                            <a class="btn btn-outline-primary slider-btn animated" th:href="@{/productlist/ALL}">Shop
                                now</a>
                        </div>
                    </div>
                </div>
                <div
                    class="single-slider-wrap slider-height-1 custom-d-flex custom-align-item-center single-animation-wrap">
                    <div class="slider-img">
                        <img src="assets/images/slider/main_03.png" alt="">
                    </div>
                    <div class="slider-content slider-animated-1">
                        <h3 class="animated">By space</h3>
                        <h1 class="animated">Cleaning <br> Tip</h1>
                        <div class="btn-style">
                            <a class="btn btn-outline-primary slider-btn animated" th:href="@{/ai_img_search}">
                                Check </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-area section-padding-1">
            <div class="section-title st-mb-145 text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Introduc Brand</h2>
            </div>
            <div class="trend-product-wrap">
                <div class="container-fluid p-0">
                    <div class="product-img-position">
                        <img src="assets/images/product/solace-brand.png" alt="">
                    </div>
                    <div class="row gx-0">
                        <div class="offset-lg-6 col-lg-6">
                            <div class="trend-product-content">
                                <h2 data-aos="fade-up" data-aos-delay="200">Solace</h2>
                                <p data-aos="fade-up" data-aos-delay="300">
                                    We think for your happiness, for your comfort. We are different. We provide you with informative information and something special. We will continue to think and work hard so that we can help you and be happy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
</div>
</body>
</html>